body{
    max-width: 1024px;
}
header{
    /* color de fondo */
    background: darkcyan;
    /* color de letra */
    color: white;
    text-align: center;
}

header nav ul li{
    background: orange;
    border-radius: 20px;
    color: black;
    display: inline-block;
    width: 90px;
}

/* Cuando ponga el mouse encima de un li */
header nav ul li:hover{
    background: black;
    color: orange;
}